/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  color: blue;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
main{
  background: url("../img/apollo8earthrise.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50em;
  width: 100%;
}